@model AddCandidateStatusViewModel
@{
    ViewData["Title"] = "Add Status";
}

<h2>إضافة حالة</h2>

<form asp-action="AddCandidateStatus" method="post">
    <div class="form-group">
        <label asp-for="Status">اسم الصلاحية</label>
        <input asp-for="Status" class="form-control form-text" />
    </div>
    <div class="d-flex justify-content-evenly mt-5">
        <button type="submit" class="btn btn-success">إضافة صلاحيات</button>
        <a class="text-decoration-none btn btn-primary" asp-action="Index">العودة لقائمة الصلاحيات</a>
    </div>
</form>

