@{
    ViewData["Title"] = "Delete Candidate Status";
}
@model DeleteCandidateStatusViewModel

<h2>حذف الحالة</h2>

<form asp-action="DeleteCandidateStatus" method="post">
    <p><strong>اسم الحالة:</strong> @Model.Status</p>
    <input type="hidden"  asp-for="CandidateStatusId" />
    <input type="hidden"  asp-for="Status" />
    <div class="d-flex justify-content-evenly mt-5">
        <button type="submit" class="btn btn-danger">حذف الصلاحية</button>
        <a class="text-decoration-none btn btn-primary" asp-action="Index">العودة لقائمة الصلاحية</a>
    </div>
</form>
