@model DeleteCandidateViewModel

<form asp-action="DeleteCandidate" method="post">
    <div class="form-group">
        <label asp-for="CandidateName">اسم المرشح</label>
        <input asp-for="CandidateName" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label asp-for="NationalId">رقم الهوية</label>
        <input asp-for="NationalId"  class="form-control" readonly>
    </div>
    <div class="form-group">
        <label asp-for="DateOfBirth">تاريخ الميلاد</label>
        <input asp-for="DateOfBirth"  class="form-control" readonly>
    </div>
    <div class="form-group">
        <label asp-for="Email">البريد الإلكتروني</label>
        <input asp-for="Email" class="form-control" readonly>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber">رقم الهاتف</label>
        <input asp-for="PhoneNumber" class="form-control" readonly>
    </div>


    <div class="form-check">
        <label asp-for="Gender">الجنس</label>
        <input asp-for="Gender" class="form-control" readonly>
    </div>

    <div class="form-group">
        <label asp-for="Major">التخصص الجامعي</label>
        <input asp-for="Major.MajorName" type="text" class="form-control" readonly>
    </div>

    <div class="form-group">
        <label asp-for="Nationality">الجنسية</label>
        <input asp-for="Nationality.NationalityName" class="form-control" readonly>
    </div>

    <input hidden asp-for="CandidateId" />
    <div class="d-flex justify-content-evenly mt-5">
        <button type="submit" class="btn btn-success">حذف المرشح</button>
        <a class="text-decoration-none btn btn-primary" asp-action="Index">العودة لقائمة المرشحين</a>
    </div>
</form>
