@model DeleteExamTypeConfViewModel
@{
    ViewData["Title"] = "Delete Exam";
    Layout = "_AdminLayout";
}

<div class="container my-4">

    <!-- Display delete Alert -->
    <div id="successAlert" class="alert alert-danger d-none">
        <span class="alert-message"></span>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow custom-card border-danger">
                <div class="card-header bg-custom-primary text-white text-center">
                    <h3>تأكيد حذف الاختبار</h3>
                </div>
                <div class="card-body custom-card-body">
                    <form id="deleteUserForm" asp-action="DeleteExamTypeConf" method="post">
                        <p><strong>اسم الاختبار:</strong> @Model.Title</p>
                        <input type="hidden" asp-for="ExamTypeConfId" />
                        <input type="hidden" asp-for="Title" />
                        <div class="d-flex justify-content-between mt-4">
                            <button type="submit" class="btn btn-danger">حذف الاختبار</button>
                            <a class="btn btn-primary" asp-action="Index">العودة لقائمة الاختبارات</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
