@model UserViewModel

<h1>بيانات المستخدم</h1>

<div>
    <form asp-action="UpdateUser" asp-controller="User" method="post">
        <input type="text" asp-for="UserName" value=@Model.UserName />
        <input type="text" asp-for="RoleName" value=@Model.RoleName />
        <input type="hidden" asp-for="RoleId" value=@Model.RoleId/>
        <input type="hidden" asp-for="UserId" value=@Model.UserId />
        <input type="submit" name="Submit" value="Update" />
    </form>
</div>
<a class="text-decoration-none text-black btn btn-primary" asp-controller="User" asp-action="Index">العودة لقائمة المستخدمين</a>

