@model UserViewModel

<h1>بيانات المستخدم</h1>

<div>
    <form asp-action="UpdateUser" asp-controller="User" method="post">
        <input type="text" asp-for="UserName" value=@Model.UserName />
        <label asp-for="RoleId">Role</label>
        <select asp-for="RoleId" class="form-control" asp-items="@(new SelectList(Model.Roles, "RoleId", "RoleName"))"></select>
        <input type="submit" name="Submit" value="Update" />
    </form>
</div>
<a class="text-decoration-none text-black btn btn-primary" asp-controller="User" asp-action="Index">العودة لقائمة المستخدمين</a>

