@{
    ViewData["Title"] = "Edit Role";
}
@model UpdateRoleViewModel

<h2>تحديث الصلاحيات</h2>

<form class=" " asp-action="EditRole" method="post">
    <div class="form-group">
        <label asp-for="RoleName">اسم الصلاحية</label>
        <input asp-for="RoleName" class="form-control form-text" value="@Model.RoleName" />
    </div>
   
    <input hidden asp-for="RoleId" />
    <div class="d-flex justify-content-evenly mt-5">
        <button type="submit" class="btn btn-success">تحديث بيانات الصلاحية</button>
        <a class="text-decoration-none btn btn-primary" asp-action="Index">العودة لقائمة الصلاحيات</a>
    </div>
</form>
