@model AddGradeViewModel

@{
    ViewData["Title"] = "Add Grade";
    Layout = "_AdminLayout";
}

<div class="container my-4">
    <!-- successful alert    -->
    <div id="successAlert" class="alert alert-success d-none">
        <span class="alert-message"></span>
    </div>


    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow border-success">
                <div class="card-header bg-custom-primary text-white text-center">
                    <h3>إضافة درجة الاختبار</h3>
                </div>
                <div class="card-body">
                    <form id="addGradeForm" asp-action="AddGrade" method="post">
                        <div class="mb-3">
                            <label asp-for="GradeValue" class="form-label">درجة الاختبار</label>
                            <input asp-for="GradeValue" class="form-control" type="text" />
                            <span asp-validation-for="GradeValue" class="text-danger"></span>
                        </div>
                        <div class="d-flex justify-content-between mt-4">
                            <button type="submit" class="btn btn-success">إضافة درجة الاختبار</button>
                            <a class="btn btn-primary" asp-action="Index">العودة لقائمة الدرجات</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

