@model DeleteGradeViewModel

<h2>حذف المستخدم</h2>

<form asp-action="DeleteGrade" method="post">
    <p><strong>اسم المستخدم:</strong> @Model.GradeValue</p>
    
    <input type="hidden"  asp-for="GradeId" />
    <div class="d-flex justify-content-evenly mt-5">
        <button type="submit" class="btn btn-danger">حذف المستخدم</button>
        <a class="text-decoration-none btn btn-primary" asp-action="Index">العودة لقائمة المستخدمين</a>
    </div>
</form>
