
@model DemoViewModel


<h1> @Model.test</h1>

<form method="post" asp-action="settest" asp-controller="Home">

    <input type="text" asp-for="@Model.test"  />



    <button type="submit"> send </button>

</form>

