@model AddNationalityViewModel
@{
    ViewData["Title"] = "Add Nationality";
}
<h2>إضافة جنسية</h2>

<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="NationalityName">nationality Name </label>
        <input asp-for="NationalityName" class="form-control" />
    </div>
    
    <div class="d-flex justify-content-evenly mt-5">
        <button type="submit" class="btn btn-success">إAdd Nationality</button>
        <a class="text-decoration-none btn btn-primary" asp-action="Index">العودة لقائمة الجنسيات</a>
    </div>
</form>


