@model UpdateNationalityViewModel
@{
    ViewData["Title"] = "Edit User Data";
}

<h2>تحديث Nationality</h2>

<form class=" " asp-action="EditNationality" method="post">
    <div class="form-group">
        <label asp-for="NationalityName">Nationality Name</label>
        <input asp-for="NationalityName" class="form-control form-text" value="@Model.NationalityName" />
    </div>
    <div class="form-group">
    </div>
    <input hidden asp-for="NationalityId" />
    <div class="d-flex justify-content-evenly mt-5">
        <button type="submit" class="btn btn-success">Nationality update</button>
        <a class="text-decoration-none btn btn-primary" asp-action="Index">العودة لقائمة المستخدمين</a>
    </div>
</form>
