@model UpdateNationalityViewModel

@{
    ViewData["Title"] = "تحديث الجنسية";
    Layout = "_AdminLayout";
}

<div class="container mt-5 mb-5">

    <!-- Display edit Alert -->
    <div id="successAlert" class="alert alert-warning d-none">
        <span class="alert-message"></span>
    </div>


    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow custom-card border-success">
                <div class="card-header bg-custom-primary text-white text-center">
                    <h2>تحديث الجنسية</h2>
                </div>
                <div class="card-body custom-card-body">
                    <form id="editUserForm" asp-action="EditNationality" method="post">
                        <div class="form-group mb-3">
                            <label asp-for="NationalityName" class="form-label custom-form-label">اسم الجنسية</label>
                            <input asp-for="NationalityName" class="form-control custom-form-control" value="@Model.NationalityName" />
                        </div>

                        <input type="hidden" asp-for="NationalityId" />

                        <div class="d-flex justify-content-between mt-5">
                            <button type="submit" class="btn btn-success">تحديث الجنسية</button>
                            <a class="btn btn-primary" asp-action="Index">العودة لقائمة الجنسيات</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
