

@model AddInterviewViewModel
<h2>Add interview</h2>

<form asp-action="AddInterview" method="post">

    <div class="form-group">
        <label asp-for="Candidates" class="form-check-label"> Candidate</label>
        <select asp-for="CandidateId" class="form-control form-select" asp-items="@(new SelectList(Model.Candidates, "CandidateId", "CandidateName"))"></select>
    </div>
    <div class="form-group">
        <label asp-for="InterviewDate"></label>
        <input asp-for="InterviewDate" class="form-control" />
    </div>


    <div class="d-flex justify-content-evenly mt-5">
        <button type="submit" class="btn btn-success">إضافة التخصص</button>
        <a class="text-decoration-none btn btn-primary" asp-action="Index">العودة لقائمة التخصصات</a>
    </div>
</form>


